* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: left;
   background-color: purple;
   padding: 30px 30px 20px 20px;
   margin: 40px;
   border: black 2px solid;
}

#foto1 {
    width: 100%;
      height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5ADBFF;
    height: 22px;
    color: #247BA0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}
tr td:hover{
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 20px 0 0 0;
    color: yellow;
    background-color: green;
}
tr:nth-child(even){
    background-color: red;
}
tr:nth-child(odd){
    background-color: blueviolet;
}
th, td {
    text-align: center;
    padding: 8px;
    margin: 10px;
}

th {
    background-color: #92b6d8;
    color: rgb(12, 1, 1);
}
#foto1:hover{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 50px;
}

.footer {
    background-color: #010b0e;
    padding: 0.5em;
    text-align: right;
}

.bajrami {
    color: red;
}